# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# pytest & coverage
.pytest_cache/
*.pyc
.coverage
htmlcov/
coverage.xml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables 
.env
